.column-title {
width: 40%;
}
/*
 .column-type {
     width:10%;
 }

 .column-edit {
     width: 7%;
 }

.column-addChild{
    width: 6%;
}
.column-sequence{
    width: 1%;
}

.column-skippable{
    width: 6%;
}
.column-delete{
    width: 6%;
}

 */
